.LoseScreenContainer{
top: 0;
left: 0;
right: 0;
bottom: 0;
position: absolute;
background-color: rgb(187, 173, 160,0.85);
display: flex;
align-items: center;
z-index: 5;
box-sizing: border-box;
color: rgb(255, 255, 255);
font-size: 2rem;
font-weight: bold;
flex-direction: column;
font-family: sans-serif;
overflow: auto;
}
.LostHeader{
margin-top: 1.5em;
border-bottom: 2px solid rgb(255, 255, 255);
}

.LoseButton{
 position: relative;
 font-weight: bold;
 border: none;
 color: aliceblue;
 font-size: 32px;
 margin-top:  2rem;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
 background-color: #f2b179;;
 border-radius: 5px;
 cursor: pointer; 
 padding: 10px;
}
.LoseButton:hover{
    background-color: #e69d5e;;
}
.buttonsContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}